:root {
    --font-family:'Montserrat', sans-serif;
    --background-color:#393e46;
    --text-color:white;
    --icon-color: #eb8242;
}

.navbar {
    background-color: var(--background-color);
    opacity: 30%;
}

.navbar-skyrim {
    text-decoration: none!important;
    color:var(--icon-color)!important;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.homepage-image {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 65%;
}

h1 {
    color:var(--icon-color);
    font-family: var(--font-family);
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

.homepage-image {
    display: flex;
    justify-content: center;
}

.homepage p {
    font-family: var(--font-family);
    text-align: center;
}

.website-links {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.website-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    font-family: var(--font-family);
    font-weight: bold;
    background-color: var(--icon-color);
    color:var(--background-color);
    text-decoration: none;
    text-transform: capitalize;
}

.homepage a:hover {
    opacity: 40%;
    background-color: white;
    color:var(--icon-color);
    text-decoration: underline;
}

.image-map {
    width: 100%;
    height: 100%;
}

.gameplay-icons {
    color:var(--icon-color);
   text-align: center;
   padding: 10px 15px;
    font-size: 50px;
}


.gameplay-icons i:hover {
    opacity: 20%;
    color: white;
}

.races-page a{
    margin-top: 15px;
    margin: 13px;
    border-radius: 4px;
    padding: 20px 15px;
    font-family: var(--font-family);
    font-weight: bold;
    background-color: var(--icon-color);
    color:var(--background-color);
    text-decoration: none;
    text-transform: capitalize;
} 

